joern-cli/
.vscode/
Debug-build/
build/
Release-build/
race_result.txt
SVFG.txt
svfg.dot
cpg/
**/CMakefiles/
cig/
graphson/
alias_result.txt
nohup.out
CCPG_dump/
cpg_dot/
cpg.bin
llvmbc/
LLM_dump/
ConVul/